body {
    margin: 0;
    font-family: Arial;
    background: #f5f5f5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 15px;
    color: white;
}

.navbar a {
    color: yellow;
    margin-left: 15px;
}

.hero {
    padding: 60px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.products img {
    width: 250px;
    margin: 10px;
    transition: transform .4s;
}

.products img:hover {
    transform: scale(1.1);
}

.form-container {
    width: 350px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background: white;
    box-shadow: 0px 0px 10px gray;
    animation: slideUp 1.3s ease;
}

input {
    width: 92%;
    padding: 10px;
    margin-top: 10px;
}

.btn {
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    margin-top: 15px;
    cursor: pointer;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}